<body>
 <div class="main">  
<div class="mt-5">
    <div class="col-md-12 min-vh-100 d-flex flex-column">
        <div class="login-form">
            <div class="signup">
            <form class="mt-5" [formGroup]="registerForm" (ngSubmit)="submitHandler()">
                <h4 class="text-center secondary ms-mb-m main-heading ng-binding" style="color: white;">Welcome To SOUL TUNES</h4>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="username" formControlName="username" placeholder="Enter Username">
                    <div style="text-align:center ;color: red;">
                    <label class="error ng-binding" *ngIf="submitted && f['username'].invalid">Name is required </label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input type="email" class="form-control" name="useremail" formControlName="useremail" placeholder="Enter email">
                    <div style="text-align:center ;color: red;">
                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].invalid">Email is required</label>
                    <label class="error ng-binding" *ngIf="submitted && f['useremail'].errors?.['useremail']">Email must be a valid email address</label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" formControlName="password" placeholder="Enter password">
                    <div style="text-align:center ;color: red;">
                    <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['password']">Password is required</label>
                    <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength']">Password must be at least 6 characters</label>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="mobile" formControlName="mobile" placeholder="Enter Mobile number">
                <div style="text-align:center ;color: red;">
                    <label class="error ng-binding" *ngIf="submitted && f['mobile'].errors?.['required']" >Mobile number is required</label>
                </div>
                </div>
                <br>
                <div style="text-align:center ;">
                <button type="submit" class="btn btn-secondary" >Register</button>
                </div>
                <div class="text-center ms-mt-x ms-mb-m register-already-account" style="padding-top:30px">
                    <span class="ms-fs-12 ng-binding" style="color: white;">Already have an account?<br>
                        <a class="btn btn-dark btn-sm"  type="submit" href="Startlogin" style="color:white;">Login</a>
                    </span>
                </div>
                
            </form>
        </div>
        </div>
    </div>
</div>
</div> 
</body>