<body>
 
 <h1 style="color: rgb(15, 14, 14);">Welcome to Dance musics</h1>

 <!-- <img src="" alt="melody" style="float:left;width:640px;" > -->
 
 <div style=" padding-left: 20%; padding-right:20%" >
   <div class="container" class="card text-dark bg-secondary mb-3" style="text-align: center;" >
     <img src="assets/images/dance1.jpg" class="card-img-top" alt="card" style="border-radius: 20%;">
     <div class="card-body">
       <h5 class="card-title">Dance Songs</h5>
       <p class="card-text">Electronic dance music (EDM), also known as dance music, club music, or simply dance, is a broad range of percussive electronic music genres made largely for nightclubs, raves, and festivals. </p>
       <table class="table table-borderless " >
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Movie</th>
             <th scope="col">Singer</th>
             <th scope="col">Audio</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Captain</td>
             <td>Soorya</td>
             <td><audio controls>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>Barbarian </td>
             <td>Sanchith</td>
             <td><audio controls muted>
                 <source src="assets/images/audi2.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Radheshyam</td>
             <td>Ninad</td>
             <td><audio controls muted>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">4</th>
             <td>Charli</td>
             <td>Harsha</td>
             <td><audio controls muted>
                 <source src="assets/images/audi2.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">5</th>
             <td>Rowdy Baby</td>
             <td>Prajwal</td>
             <td><audio controls  muted>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
         </tbody>
       </table>
       <div class="container-fluid">
        <button id="reg" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
         Exit
        </button>
      </div>
     </div>
   </div>
 
 
   
 </div>
 
 </body>