<body>
 
 <h1 style="color: rgb(15, 14, 14);">Welcome to Dance musics</h1>

 <!-- <img src="" alt="melody" style="float:left;width:640px;" > -->
 
 <div style=" padding-left: 20%; padding-right:20%" >
   <div class="container" class="card text-dark bg-secondary mb-3" style="text-align: center;" >
     <img src="assets/images/dance1.jpg" class="card-img-top" alt="card" style="border-radius: 20%;">
     <div class="card-body">
       <h5 class="card-title">Dance Songs</h5>
       <p class="card-text">Electronic dance music (EDM), also known as dance music, club music, or simply dance, is a broad range of percussive electronic music genres made largely for nightclubs, raves, and festivals. </p>
       <table class="table table-borderless " >
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Song Name</th>
             <th scope="col">Singer</th>
             <th scope="col">Audio</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Mehabooba</td>
             <td>Ravi</td>
             <td><audio controls>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>Fitoor </td>
             <td>Arijith</td>
             <td><audio controls muted>
                 <source src="assets/images/audi2.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Ninne thanaka</td>
             <td>Sanjith</td>
             <td><audio controls muted>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">4</th>
             <td>Pagal iravai</td>
             <td>Pranav</td>
             <td><audio controls muted>
                 <source src="assets/images/audi2.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">5</th>
             <td>Jagave neenu</td>
             <td>Arijith</td>
             <td><audio controls  muted>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
         </tbody>
       </table>
     </div>
   </div>
</div>
<div style="color:black; text-align:center;">
  <button  type=" button btn btn-success" (click)="hide()" style="text-align:center;">Contact details</button>
  <ul *ngIf="isVisble">
  <div class="row" *ngFor= "let c of contact" style="text-align:center;">
    <ul type="none" style="background-color:darkgreen;border: black;border-radius: 50%;font-size: large;">
      <br>
      <li>{{c.cname}} : {{c.cnumber}} ({{c.cemail}})</li>
    </ul>
  </div>
</ul>
</div> 
<br>
<div class="container-fluid" style="text-align: center;">
    <button id="reg" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
     Exit
    </button>
</div>

 </body>