<body style="background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);">
    <!-- <div class="modal fade" id="admin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div  class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Exit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Are u sure!!!</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              <button type="button" class="btn btn-primary"data-bs-dismiss="modal" href="Admin">Yes</button>
            </div>
             
          </div>
        </div>
      </div> -->

      
<br>
<br>
<br>
<div class="login-form">
  <div class="signup">
      <form class="mt-5" [formGroup]="adminForm" (ngSubmit)="admin()">
          <h3 class="text-center secondary ms-mb-m main-heading ng-binding" style="color: white;">Login with SOUL TUNE</h3>
          <br>
          <div class="mt-5">
          <div class="form-group">
              <div style="text-align:center ;color: red;">
              <input type="text" class="form-control" name="username" formControlName="username" placeholder="User Name">
              <label class="error ng-binding" *ngIf="submitted && f['username'].errors?.['required']">Email is required</label>
              <label class="error ng-binding" *ngIf="submitted && f['username'].errors?.['username']">Email must be a valid email address</label>
          </div>
          </div>
          <br>
          <div class="form-group">
              <div style="text-align:center ;color: red;">
              <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password">
              <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['required']">Password is required</label>
              <label class="error ng-binding" *ngIf="submitted && f['password'].errors?.['minlength']">Password must be at least 6 characters</label>
          </div>
          </div>
          <br>
          <div style="text-align: center;color: azure;">
          <button type="submit" class="btn btn-secondary" href="">Login</button>
          </div>
          <br>
          
          </div>
      </form>
  </div>
  </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>






</body>