
<body>
  
 <h1 style="color: rgb(24, 5, 54);">Welcome to Classical musics</h1>
 
 <!-- <img src="" alt="melody" style="float:left;width:640px;" > -->
 
 <div style=" padding-left: 20%; padding-right:20%" >
   <div class="container" class="card text-dark bg-info mb-3" style="text-align: center;" >
     <img src="assets/images/classical1.jpg" class="card-img-top" alt="card" style="border-radius: 20%;">
     <div class="card-body">
       <h5 class="card-title">Classical Songs</h5>
       <p class="card-text">Classical music generally refers to the formal musical tradition of the Western world, considered to be distinct from Western folk music or popular music traditions. </p>
       <table class="table table-borderless" >
         <thead>
           <tr>
             <th scope="col">#</th>
             <th scope="col">Movie</th>
             <th scope="col">Singer</th>
             <th scope="col">Audio</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Milana</td>
             <td>SPB</td>
             <td><audio controls play>
                 <source src="assets/images/audi2.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>Googly</td>
             <td>Ananya</td>
             <td><audio controls  muted>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Geetha</td>
             <td>Pallavi</td>
             <td><audio controls muted>
                 <source src="assets/images/audi2.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">4</th>
             <td>War</td>
             <td>Shyam</td>
             <td><audio controls muted>
                 <source src="assets/images/audi1.mp3" type="audio/mp3">
             </audio></td>
           </tr>
           <tr>
             <th scope="row">5</th>
             <td>Robert</td>
             <td>Shruthi</td>
             <td><audio controls muted>
                 <source src="assets/images/audi2.mp3" type="audio/mp3">
             </audio></td>
           </tr>
         </tbody>
       </table>
       <div class="container-fluid">
        <button id="reg" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
         Exit
        </button>
      </div>
     </div>
   </div>
 
 
   
 </div>
 
 </body>