img{
    height:100px;
    width:100px;
    
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}
.prodimg{
    height:200px;
    width:200px;
    margin-left:40px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}
body{
    background-color: rgb(241, 155, 200);
}