<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div  class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are u sure!!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary"data-bs-dismiss="modal" routerLink="Home">Yes</button>
      </div>
       
    </div>
  </div>
</div>


<!-- navbar -->
<!-- Routing in nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
    
      <a class="navbar-brand" routerLink="Home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" routerLink="Music">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active"  routerLink="Melody">Melody</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="Dance">Dance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " routerLink="Classical">Classical</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Others
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a id="#but1" class="dropdown-item" href="">Popular Music</a></li>
              <li><a id="#but2" class="dropdown-item" href="">Trending Music</a></li>
              <li><a id="#but3" class="dropdown-item" href="">My Top tracks</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex">
          <!-- parent child component method  -->
          <input class="form-control me-2" #productname type="search" placeholder="Fvt name" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" (click)="search_product(productname.value);productname.value=''" style="border-radius:10px;">Find</button>
        </form>
      </div>
    </div>
  </nav>
<!-- binding -->
<app-find [product]="productentered"></app-find>
<router-outlet></router-outlet>
