<!-- For Exit -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div  class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Exit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Are u sure!!!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary"data-bs-dismiss="modal" routerLink="Home">Yes</button>
      </div>
       
    </div>
  </div>
</div>

<!--Modol for Cart button-->
<div class="modal fade" id="alert" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div  class="modal-content" style="background-color:lightgreen">
      <div class="modal-header">
        <h5 class="modal-title" style="color:blueviolet;font-weight: bold; font-size: large; font-style: oblique; ">Wow!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="color: darkmagenta; font-weight: bold; font-size: large; font-style: oblique;">You have {{cartCount}} downloaded Song</p>
      </div>
      
       
    </div>
  </div>
</div>

<!-- For Registarion -->
<div class="modal fade" id="reg1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div  class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registation Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <fieldset class="reg">    
              <label>Username</label><br>
              <input type="text" name="fname" required><br>
              <label>Enter the Gmail address</label><br>
              <input type="email" name="email" required><br>
              <label>Enter the Password</label><br>
              <input type="password" name="password" required><br>
              <label>Re-enter the Password</label><br>
              <input type="password" name="password" required><br>
              <br>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </fieldset>
        </form>
      </div>  
    </div>
  </div>
</div>

<!-- For sign in -->
<div class="modal fade" id="reg2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <fieldset class="reg">     
              <label>Enter the valid Username</label><br>
              <input type="text" name="fname" required><br>
              <label>Enter the valid Password</label><br>
              <input type="password" name="password" required><br>
              <br>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Login</button>
          </fieldset>
        </form>
      </div>  
    </div>
  </div>
</div>

<!-- For Sign out -->
<div class="modal fade" id="reg3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="background-color:lightseagreen">
      <div class="modal-body">
        <div class="modal-header">
          <h5 class="modal-title">Rate our Soul Tunes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <input type="radio" id="html" name="fav_language" value="HTML">
            <label for="html">1 (Not satisfied)</label><br>
            <input type="radio" id="css" name="fav_language" value="CSS">
            <label for="css">2 (satisfied)</label><br>
            <input type="radio" id="javascript" name="fav_language" value="JavaScript">
            <label for="javascript">3 (Average)</label><br>
            <input type="radio" id="Typescript" name="fav_language" value="TypeScript">
            <label for="javascript">4 (Good)</label><br>
            <input type="radio" id="Python" name="fav_language" value="Python">
            <label for="javascript">5 (Very Good)</label><br>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary"data-bs-dismiss="modal" routerLink="Home">Submit</button>
        </div>
      </div>  
    </div>
  </div>
</div>


<!-- navbar -->
<!-- Routing in nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
    <img src="https://cdn4.vectorstock.com/i/1000x1000/64/03/white-icon-on-black-background-music-note-vector-14766403.jpg" style="height: 50px; width:50px" >
      <a class="navbar-brand" routerLink="Home">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="auth" routerLink="Melody">Melody</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link active " *ngIf="auth" routerLink="Dance">Dance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " *ngIf="auth" routerLink="Classical">Classical</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active "*ngIf="auth" routerLink="Music" >Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active "*ngIf="auth" routerLink="Downloads" >Songs for Downloads</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active "*ngIf="auth" routerLink="Login" >Admin</a>
          </li>
          
          <li class="nav-item">
          <a class="nav-link" routerLink="Startregister" *ngIf="!auth">Register</a>
        </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="auth">
             Others
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <button id="reg" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="" routerLink="Register">
                Feedback
              </button>
              <button id="reg" type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#reg3">
                Rating
              </button>
            </ul>
          </li>
          
          
        </ul>
        <form class="d-flex">
          <button routerLink='CartItems' style="height:5px;border:none;" *ngIf="auth" data-bs-target="#alert" id="reg" type="button" class="btn btn-dark" data-bs-toggle="modal" >
            <span class="fa-solid fa-download" style="font-size:16px;color:white"><sup class="text-warning" style="font-size:10px;margin-left: 3px;;">{{cartCount}}</sup></span>
          </button>
          <!-- parent child component method  -->
          <input class="form-control me-2" #productname type="search" placeholder="Fvt name" aria-label="Search">
          <button class="btn btn-outline-success" type="submit" (click)="search_product(productname.value);productname.value=''" style="border-radius:10px;">Find</button>
        </form>
        <a class="btn btn-outline-success" type="submit" style="border-radius:10px;color:black;" routerLink="Startlogin"*ngIf="auth" >Logout</a>
      </div>
    </div>
  </nav>
<!-- binding -->
<app-find [product]="productentered"></app-find>
<router-outlet></router-outlet>