<body>
 <h1 style="color: white;">Welcome to Melody musics</h1>
<!-- <img src="" alt="melody" style="float:left;width:640px;" > -->
<div style=" padding-left: 20%; padding-right:20%" >
  <div class="container" class="card text-dark bg-light mb-3" style="text-align: center;" >
    <img src="assets/images/melody1.jpg" class="card-img-top" alt="card" style="border-radius: 20%;">
    <div class="card-body">
      <h5 class="card-title">Melody Songs</h5>
      <p class="card-text">The two basic elements of music that define melody are pitch and rhythm. Melody is a succession of pitches in rhythm. </p>
      <table class="table table-borderless " >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Movie</th>
            <th scope="col">Singer</th>
            <th scope="col">Audio</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Galipata</td>
            <td>Vijay</td>
            <td><audio controls muted>
                <source src="assets/images/audi1.mp3" type="audio/mp3">
            </audio></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Sharma</td>
            <td>Shreya</td>
            <td><audio controls muted>
                <source src="assets/images/audi2.mp3" type="audio/mp3">
            </audio></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>KGF</td>
            <td>Ananya</td>
            <td><audio controls muted>
                <source src="assets/images/audi1.mp3" type="audio/mp3">
            </audio></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Jersey</td>
            <td>Aniruddh</td>
            <td><audio controls muted>
                <source src="assets/images/audi2.mp3" type="audio/mp3">
            </audio></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Majili</td>
            <td>Sripaada</td>
            <td><audio controls  muted>
                <source src="assets/images/audi2.mp3" type="audio/mp3">
            </audio></td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>
</div>
<div style="color:black; text-align:center;">
  <button  type=" button btn btn-success" (click)="hide()" style="text-align:center;">Contact details</button>
  <ul *ngIf="isVisble">
  <div class="row" *ngFor= "let c of contact" style="text-align:center;">
    <ul type="none" style="background-color:lightcyan;border: black;border-radius: 50%;font-size: large;">
      <br>
      <li>{{c.cname}} : {{c.cnumber}} ({{c.cemail}})</li>
    </ul>
  </div>
</ul>
</div> 
<br>
<div class="container-fluid" style="text-align: center;">
    <button id="reg" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
     Exit
    </button>
</div>
</body>
