<body>
<br>
<h3></h3>
<br>
<div class="row">
<div class="col col-lg-2"></div>
<div class="col col-lg-8">
  <nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
      <h1 style="color: aliceblue; font-size: 20px;">SONGS DETAILS</h1>
      <div class="d-flex">
        
        <button (click)="clickAddProduct()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal7">
          Add Songs
        </button>
      </div>
    </div>
  </nav>
  <div class="prodimg">
  <table class="table table-hover table-info table-striped">
    <thead>
      <tr style="color:darkmagenta">
        <th scope="col" >Song ID</th>
        <th scope="col">Song Name</th>
        <th scope="col">Singer Name</th>
        <th scope="col">Film Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productData">
        <td>{{product.id}}</td>
        <td>{{product.sname}}</td>
        <td>{{product.siname}}</td>
        <td>{{product.tracks}}</td>
        <td>
          <button (click)="onEdit(product)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal7">
            Edit
          </button>&nbsp;
          <button (click)="deleteProducts(product)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</div>  
<div class="col col-lg-2"></div>
</div>



  <div class="modal fade" id="exampleModal7" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Song details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <form [formGroup]="formValue" >
            <!-- <div class="mb-3">
                <label class="form-label">Song ID</label>
                <input type="sid" class="form-control" formControlName="sid">
              </div> -->
          <div class="form-group">
            <div class="mb-3">
              <label class="form-label">Song Name</label>
              <input type="text" class="form-control" formControlName="sname" >
              <!-- <span class="invalid-feedback">
                <strong *ngIf="songname.errors?.required">Name is Required</strong>
                <strong *ngIf="songname.errors?.pattern">Only Alphabets allowed(A-Z and a-z)</strong>
                <strong *ngIf="songname.errors?.minlength">Min length is 6 characters</strong>
                <strong *ngIf="songname.errors?.maxlength">Max length is 16 characters</strong>
            </span> -->
            </div>
          </div>
            <div class="mb-3">
              <label class="form-label">Singer</label>
              <input type="siname" class="form-control" formControlName="siname">
            </div>
            <div class="mb-3">
              <label class="form-label">Film Name</label>
              <input type="tracks" class="form-control" formControlName="tracks">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postProductDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateProductDetails()" class="btn btn-warning">Update</button>
        </div>
      </div>
    </div>
  </div>
</body>