img{
    height:200px;
    width:350px;
    margin-left:5px;
   
    margin-top:10px;
    margin-bottom:10px;
    border-radius:100px;
    border-color:black ;
}
.songimg{
    height:200px;
    width:200px;
    margin-left:40px;
    padding-right: 10px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}
body{
	
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}