<body style="background-color:rgb(218, 38, 131) ;">
<iframe width="250px" height="200px" style="margin-left:20px;margin-top:10px" src="https://youtube.com/embed/ISpAtMgKdPw"></iframe>
<p>Go and get your VISA for a digital India</p><hr>
<iframe width="250px" height="200px" style="margin-left:20px;margin-top:10px" src="https://youtube.com/embed/PQxFL6Ce-XM"></iframe>
<p style="text-align: center;">Mesmarize Your Favorite persons with TITAN</p><hr>
<td><audio controls muted>
    <source src="assets/images/Song1.mp3" type="audio/mp3">
</audio></td>
<p style="text-align: center;">Feel the Music</p><hr>

<img class="transition" src="https://images-na.ssl-images-amazon.com/images/I/31BrR-YDVNL.png" height="100px" width="50px" alt="CSS" style="float:right;" >
<img class="transition" src="https://img.freepik.com/premium-psd/soul-halloween-ghost-text-effect-editable-ocean-spirit-text-style_342167-3898.jpg?w=2000" height="100px" width="50px" alt="CSS" style="float:right;" >

<!-- <img class="transition" src="https://wallpaperaccess.com/full/3023966.png" height="100px" width="50px" alt="CSS" style="float:right;" > -->

</body>

