<body>
<div style="margin-top: 30px; border: 100%;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
       
            <app-tracks></app-tracks>
            
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
            <app-musicextention></app-musicextention>
          
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            <app-adds></app-adds>
            
        </div>
    </div>
</div>
</body>