<body style="background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);">
    <br>
    <h3 style="color: rgb(94, 196, 230); text-align:center">Feedback Form</h3>
    <p style="color: lightblue; text-align:center">We are valid your feedback</p>
<br>
<div style="background-color: wheat; margin-left:20%; margin-right: 20%;">
<form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">First name</label>
      <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Last name</label>
      <input type="text-area" class="form-control" id="inputPassword4">
    </div>
    
    <form>
        <p>Is Soul Tune is Nice?</p>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">Yes</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">No</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">Can't predict</label>
    </form>

    <form>
    <p>How much you like this Website?</p>
    <input type="radio" id="html" name="fav_language" value="HTML">
    <label for="html">10%-30%</label><br>
    <input type="radio" id="css" name="fav_language" value="CSS">
    <label for="css">31%-75%</label><br>
    <input type="radio" id="javascript" name="fav_language" value="JavaScript">
    <label for="javascript">76%-100%</label>
    </form>

    <form>
        <p>How was your experience in this Website?</p>
        <input type="radio" id="html" name="fav_language" value="HTML">
        <label for="html">Worst</label><br>
        <input type="radio" id="css" name="fav_language" value="CSS">
        <label for="css">avarage</label><br>
        <input type="radio" id="javascript" name="fav_language" value="JavaScript">
        <label for="javascript">Very Good</label>
    </form>
        

    <div class="col-12">
      <label for="inputAddress" class="form-label">If any suggestions please fill it below</label>
      <textarea rows="5" type="text" class="form-control" id="inputAddress" placeholder=""></textarea>
    </div>
    
   
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Send to Admin
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()" >Submit</button>
    </div>
  </form>
  <br>
</div>
<br>
<br>
<br>

<!--Registration Form with Validation-->
<!-- <form [formGroup]="myForm" novalidate>
    <fieldset class="reg">
    <legend style="color:rgb(47, 6, 121);text-align: center; ">Registration Details</legend>
    <div class="form-group">
        <label>User Name</label>
        <input type="text" class="form-control" placeholder="Enter username" formControlName="username"
            [ngClass]="{'is-invalid':username.errors && (username.touched||username.dirty),'is-valid':username.valid}">
            <span class="invalid-feedback">
                <strong *ngIf="username.errors?.required">Name is Required</strong>
                <strong *ngIf="username.errors?.pattern">Only Alphabets allowed(A-Z and a-z)</strong>
                <strong *ngIf="username.errors?.minlength">Min length is 6 characters</strong>
                <strong *ngIf="username.errors?.maxlength">Max length is 16 characters</strong>
            </span>
        </div>
        <div class="form-group">
            <label>User E-mail</label>
            <input type="email" class="form-control" placeholder="Enter email" formControlName="useremail"
                [ngClass]="{'is-invalid':useremail.errors && (useremail.touched||useremail.dirty),'is-valid':useremail.valid}">
                <span class="invalid-feedback">
                    <strong *ngIf="useremail.errors?.required">Email is Required</strong>
                </span>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" formControlName="password"
                    [ngClass]="{'is-invalid':password.errors && (password.touched||password.dirty),'is-valid':password.valid}">

                    <span class="invalid-feedback">
                        <strong *ngIf="password.errors?.required">Password is Required</strong>
                        <strong *ngIf="password.errors?.pattern">Pattern does not match</strong>
                    </span>
                </div>
                <div class="form-group">
                    <label>Mobile</label>
                    <input type="text" class="form-control" placeholder="Enter Mobile" formControlName="mobile"
                        [ngClass]="{'is-invalid':mobile.errors && (mobile.touched||mobile.dirty),'is-valid':mobile.valid}">
                        <span class="invalid-feedback">
                            <strong *ngIf="mobile.errors?.required">Mobile number is Required</strong>
                        </span>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">SUBMIT</button>&nbsp;
                </fieldset>
                </form>
            
                <br>
                <br> -->
</body>
                <!-- <div class="form-group">
                    <div class="alert alert-info">
                        <p>Valid: <b>{{username.valid}}</b></p>
                        <p>InValid: <b>{{username.invalid}}</b></p>
                        <p>Touched: <b>{{username.touched}}</b></p>
                        <p>Untouched: <b>{{username.untouched}}</b></p>
                        <p>Dirty: <b>{{username.dirty}}</b></p>
                        <p>Pristine: <b>{{username.pristine}}</b></p>
                    </div>
                </div> -->
               
                        

